@model IEnumerable<ITechSite.Models.SelectedResources>

@{
    ViewBag.Title = "Index";
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
}

<h2>Index</h2>

 <script>
     $(function() {
    $ ("#ValidEnd").datepicker();
  });
  </script>


    @using (Html.BeginForm())
    {
            <div>
                <p>
                 @Html.ValidationMessage("Error", new { @class = "text-danger" })
                </p>

                <p>
                    @Html.Label("Treść wiadomości")
                    @Html.TextBox("NewNews")
                </p>
                <p>
                    @Html.Label("Ważna do")
                    @Html.Editor("ValidEnd")
                    <input type="submit" name="Send.Action" value="Send" class="btn btn-default" />
                </p>
            </div>
        
<table class="table">
    <tr>
        <th>
            Wybierz
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.WorkProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.News.News1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.News.ValidEnd)
        </th>
        <th></th>
    </tr>

@foreach (ITechSite.Models.SelectedResources item in Model) {
    <tr>
        <td>
            @*@Html.CheckBox("actionChk", @item.Selected2, new { value = @item.Resource.Id})*@
            
            @if (@item.Selected2)
            {
                <input type="checkbox" name="actionChk" value="@item.Resource.Id" checked />
            }
            else
            { 
                <input type="checkbox" name="actionChk" value="@item.Resource.Id"/>
            }
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.WorkProcess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.News.News1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.News.ValidEnd)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}


</table>
    }
