@model IEnumerable<ITechSite.Models.SelectedResources>
@using ITechSite.Custom
@{
    ViewBag.Title = "Wiadomości";


    @*<script src="~/Scripts/ui/i18n/jquery.ui.datepicker-pl.js"></script>*@
    <link href="~/Scripts/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.js"></script>
    
    <script type="text/javascript">
        $(document).ready((function () {
            OptionChangeCss("#priority");
            AddDateTimePicker("#ValidEnd");
        }));
    </script>
    
}



@functions{
    public string GetRowCss(ITechSite.Models.SelectedResources R)
    {
        if (R.Resource.News == null)
            return "";
        else if (R.Resource.News.ValidEnd.HasValue && R.Resource.News.ValidEnd.Value < DateTime.Now)
            return "";
        else
            return R.Resource.News.NewsPriority.CssName;
        //            return "text-green";
        //        return "text-Red";
    }
}




<script>
    function checkboxSelAll() {
        var b = document.getElementById('actionChkSel').checked;
        $('[name="actionChk"]').prop("checked", b);
    };

    function ApplyNews(n,p,d) {
        $("#priority").val(p)
        $("#ValidEnd").val(d)
        $("#NewNews").val(n)
        OnOptionChangeCss("#priority")
    };
</script>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-10">
                    <h2>Wiadomości</h2>
                    @Html.Partial("_SelectResourcesInLine", (ITechSite.Models.ResourceListFind)ViewBag.FindResources)
                </div>
                    <div class="col-md-2 label-info">
                        <br /><br />
                        Obrazek wiadomości mały
                        <br /><br /><br />
                </div>
            </div>
        </div>
            <p>
                @Html.ValidationMessage("Error", new { @class = "text-danger" })
            </p>

    <div class="form-group">
        @Html.Label("Treść wiadomości")
        @*@Html.TextBox("NewNews", null, new { @class = "form-control text-News", placeholder = "Tekst wiadomości" })*@
        @Html.TextArea("NewNews", null, new { @class = "form-control text-News", placeholder = "Tekst wiadomości maksymalnie 300 znaków 2 linie", maxlength = "300", wrap = "hard" })
    </div>

            <div class="form-inline">
                <div class="form-group">
                    @Html.Label("priority", "Priorytet")
                    @Html.ExtendedDropDownListFor("priority", (IEnumerable<ITechSite.Custom.ExtendedSelectListItem>)@ViewBag.priority2, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Ważna do")
                    @Html.TextBox("ValidEnd", null, new { @type = "DateTime", @class = "form-control"  })
                </div>


                <div class="form-group">
                    <button type="submit" name="FindAction" value="Send" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-send"></span> Wyślij
                    </button>
                </div>
            </div>
            <hr />

            <table class="table">
                <tr>
                    <th>
                        <input type="checkbox" name="actionChkSel" id="actionChkSel" title="Zaznacz/odznacz wsytkie wiadomości" onchange="checkboxSelAll()" checked/>

                        @Html.DisplayNameFor(model => model.Resource.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resource.No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resource.WorkProcess)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resource.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resource.News.News1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resource.News.ValidEnd)
                    </th>
                    <th></th>
                </tr>

                @foreach (ITechSite.Models.SelectedResources item in Model)
            {
                //var rowcss = "text-Red";
                var rowcss = GetRowCss(item);
                    <tr class="@rowcss">
                        <td>
                            @*@Html.CheckBox("actionChk", @item.Selected2, new { value = @item.Resource.Id})*@

                            @if (item.Selected2)
                        {
                                <input type="checkbox" name="actionChk" id="actionChk_@item.Resource.Id" value="@item.Resource.Id" checked />   }
                        else
                        {
                                <input type="checkbox" name="actionChk" id="actionChk_@item.Resource.Id" value="@item.Resource.Id" />  }
                            @*</td>
                                <td>*@
                            @Html.Label("actionChk_" + @item.Resource.Id, item.Resource.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resource.No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resource.WorkProcess)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resource.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resource.News.News1)
                        </td>

                        @if (item.Resource.News != null && item.Resource.News.ValidEnd.HasValue && item.Resource.News.ValidEnd.Value < DateTime.Now)
                    {
                            <td style="color:white; background-color:darkgray; text-decoration:line-through">
                                @Html.DisplayFor(modelItem => item.Resource.News.ValidEnd)
                            </td>
                    }
                    else
                    {
                            <td>
                                @Html.DisplayFor(modelItem => item.Resource.News.ValidEnd)
                            </td>
                    }



                        <td>
                            @if (item.Resource.News != null)
                       {
                                <a href="#" title="Użyj tą wiadomość jako szablon" onclick="javascript:ApplyNews('@item.Resource.News.News1',@item.Resource.News.NewsPriorityId, '@item.Resource.News.ValidEnd')">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                       }

                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
            }


            </table>
            }
        </div>