@model ITechSite.Models.Dokument

@{
    ViewBag.Title = "Kasowanie";
}

<h2>Kasowanie</h2>
@if (string.IsNullOrEmpty(@ViewBag.DontDelete) == true)
            {
<h3>Jesteś pewien, że chcesz usunć ten plik bezpowrotnie?</h3>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FileName)*@
            @using ITechSite.Custom;
            @Html.ActionLinkGlyphicon(Model.FileName, "Show", "Dokuments", new { id = Model.Id }, new { target = "_blank" }, "glyphicon-picture")
        </dd>

        <dt>
            Zmodyfikowany
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWriteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkProcess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkProcess.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDtmOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDtmOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDtmOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDtmOff)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (string.IsNullOrEmpty(@ViewBag.DontDelete) == true)
            { 
                <input type="submit" value="Delete" class="btn btn-default" /> 
            }
            else
            {
                   <h2>@ViewBag.DontDelete</h2>
            }
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
