@model ITechSite.Models.Dokument

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastWriteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWriteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkProcess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkProcess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDtmOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDtmOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDtmOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDtmOff)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
