@model ITechSite.Models.Dokument

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły Dokumentu</h2>

<div>
    <hr />
   
    @*@if (Model.FileType == ".pdf")
    {
        <b>pdf not suported</b>
    }
    @if (Model.FileType == ".jpg")
    {
        <img src="http://localhost:49429/Dokuments/show/@Model.Id" alt="Image" />
    }
    @if (Model.FileType == ".mp4")
    {
        @Microsoft.Web.Helpers.Video.MediaPlayer("http://localhost:49429/Dokuments/show/" + @Model.Id)
    }*@


    @*<video width="320" height="240" controls>
        <source src="http://localhost:49429/Dokuments/show/@Model.Id" typ="video/mp4">
        <source src="http://localhost:49429/Dokuments/show/@Model.Id" typ="video/wmv">
        Twoja przeglądarka nie robi ' t obsługuje elementu video
    </video>*@
    

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastWriteTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastWriteTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorkProcess.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkProcess.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kategorie)
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategorie.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidDtmOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidDtmOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidDtmOff)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidDtmOff)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Keywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Keywords)
            </dd>
            <dt>
                Rozmiar
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Size2)
            </dd>
            <dt>
                Lokalna nazwa pliku
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocalFileName)
            </dd>
            <dt>
                Plan informacyjny
            </dt>

            <dd>
                <table class="table table-hover">
                    @if (Model.InformationPlan.FirstOrDefault() != null)
                    {
                        <tr>
                            <th>Stanowisko</th>
                            <th>Typ</th>
                            <th>Opis</th>
                            <th></th>
                            <th></th>
                        </tr>
                        foreach (var item in Model.InformationPlan.OrderBy(m => m.Order))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Resource.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Resource.ResourceType.Type)</td>
                                <td>@Html.DisplayFor(modelItem => item.Resource.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.ResourceModel.Name)</td>

                                <td>@Html.ActionLink("Szczegóły", "Details", "Resources", new { id = item.idR }, null)</td>
                            </tr>
                        }
                    }
                </table>
            </dd>
</dl>
</div>
<p>
    @using ITechSite.Custom
    @Html.ActionLinkGlyphicon("Pobierz", "Download", new { id = Model.Id }, "glyphicon-download-alt") |
    @Html.ActionLinkGlyphicon("Pokaż", "Show", null, new { id = Model.Id }, new { target = "_blank" }, "glyphicon-picture") |
    @Html.ActionLinkGlyphicon("Edytuj", "Edit", new { id = Model.Id }, "glyphicon-edit") |
    @Html.ActionLinkGlyphicon("Powrót do listy", "Index", null, "glyphicon-list-alt")

  
</p>
