@model ITechSite.Models.Dokument

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły Dokumentu</h2>

<div>
    <hr />
   
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt>
                Utworzony
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateTime)
            </dd>
            <dt>
                Właściciel
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OwnerId)
            </dd>
            <dt>
                Ostatnio modyfikowany
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastWriteTime)
            </dd>
            <dt>
                Zmodyfikowany przez
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastWriteUserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WorkProcess.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorkProcess.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kategorie)
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategorie.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidDtmOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidDtmOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidDtmOff)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidDtmOff)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Keywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Keywords)
            </dd>
            <dt>
                Rozmiar
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Size2)
            </dd>
            <dt>
                Lokalna nazwa pliku
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocalFileName)
            </dd>
            <dt>
                Przypięty do
            </dt>
            <dd>
                <table class="table table-hover">
                    @if (Model.InformationPlan.FirstOrDefault() != null)
                    {
                        <tr>
                            <th>Typ</th>
                            <th>Stanowisko</th>
                            <th>Opis</th>
                            <th></th>
                            <th></th>
                        </tr>
                        foreach (var item in Model.InformationPlan.OrderBy(m => m.Order))
                        {
                            <tr>
                                <td>
                                    @Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item.Resource)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Resource.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Resource.Description)</td>
                                <td>
                                @if(item.ResourceModel!=null)
                                {
                                    @Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item.ResourceModel)
                                }
                                @Html.DisplayFor(modelItem => item.ResourceModel.Name)</td>

                                @*<td>@Html.ActionLink("Usuń", "DeleteJoin", new { id = item.id }, null)</td>*@
                                <td><a data-toggle="modal" data-target="#myModal" id="@item.id"
                                   msg="@item.Resource.Name @if (item.ResourceModel != null) { <p></p> @item.ResourceModel.Name}"
                                    class="someclass">Odłącz</a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <p>Dokument nie jest jeszcze używany</p>
                    }
                </table>

                <script>
                    function InitModal2() {
                        $('.someclass').on('click', function () {
                            var itemid = $(this).attr('id');
                            var itemmsg = $(this).attr('msg');
                            var h = $(".buttonoffjoin").attr("href") + "/" + itemid;
                            $(".buttonoffjoin").prop("href", h);
                            $(".modal-text").html(itemmsg);
                        });
                    };
                    $(function () {
                        InitModal2();
                    });
                </script>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Potwierdź odłączenie dokumentu z</h4>
                            </div>
                            <div class="modal-body">
                                <h2>
                                    <span class="modal-text"></span>
                                </h2>
                            </div>
                            <div class="modal-footer">
                                @using ITechSite.Custom
                                @Html.ActionLinkGlyphicon(" Odłącz", "offjoin", null, new { @class = "btn btn-danger buttonoffjoin" }, "glyphicon-trash")
                                @*<button type="button" class="btn btn-danger" data-dismiss="modal">Usuń</button>*@
                                <button type="button" class="btn btn-default " data-dismiss="modal">Anuluj</button>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.ActionLinkGlyphicon("Przypnij do stanowiska / modelu/ wersji", "Join", null, new { idd = Model.Id }, new { @class = "btn btn-success" }, "glyphicon-paperclip")
            </dd>
</dl>
</div>
<p>
    @using ITechSite.Custom
    @Html.ActionLinkGlyphicon("Pobierz", "Download", new { id = Model.Id }, "glyphicon-download-alt") |
    @Html.ActionLinkGlyphicon("Pokaż", "Show", null, new { id = Model.Id }, new { target = "_blank" }, "glyphicon-picture") |
    @Html.ActionLinkGlyphicon("Edytuj", "Edit", new { id = Model.Id }, "glyphicon-edit") |
    @Html.ActionLinkGlyphicon("Powrót do listy", "Index", null, "glyphicon-list-alt")

  
</p>
