@model ITechSite.Models.IndexDokumentModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Dokumenty";
    //ITechSite.Models.FindDokumentModel info = ViewBag.FindDokumentModel;
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Dokuments", FormMethod.Get))
{
    <div>
        @Html.TextBoxFor(model => model.CodeName)
        <input type="submit" name="FindAction" value="Szukaj" class="btn btn-default" />
    </div>
}
<div>
    @Html.PagedListPager(Model.Dokuments, page => Url.Action("Index", new { page, CodeName = Model.CodeName, FindAction = "page" }))
</div>

<p>
    @Html.ActionLink("Nowy dokument", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa pliku
        </th>
        <th>
            Nazwa kodowa
        </th>
        <th>
            Zmodyfikowany
        </th>
        <th>
            Aktywny
        </th>
        <th>
            Opis
        </th>
        <th>
            Data aktywności początek
        </th>
        <th>
            Data aktywności koniec
        </th>
        <th>
            Proces roboczy
        </th>
        <th>
            Rozmiar
        </th>
        <th>
            Lokalna nazwa pliku
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Dokuments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastWriteTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidDtmOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidDtmOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkProcess.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalFileName)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", new { id = item.Id }) |
            @Html.ActionLink("Show", "Show", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
