@model JoinDoc
@using ITechSite.Custom;
@using ITechSite.Models;
@{
    ViewBag.Title = "Join";
}


<div>
    <h2>Przypisujesz dokument  @Html.ActionLinkGlyphicon(Model.Doc.FileName, "Show", null, new { id = Model.Doc.Id }, new { target = "_blank" }, "glyphicon-picture")
</h2>
    <h4>Opis: @Model.Doc.Description</h4>
    <h4>Nazwa kodowa: @Model.Doc.CodeName</h4>
    <h4>Kategoria: @Model.Doc.Kategorie.name</h4>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Lista stanowisk<br />
                    @Html.Partial("_SelectResourcesInLine", (ITechSite.Models.ResourceListFind)ViewBag.FindResources)
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                @Html.CheckBox("s")
                            </th>
                            <th>Stanowisko</th>
                            <th>Proces</th>
                            <th>Opis</th>
                        </tr>
                        @foreach (var item in Model.AvalibleWorkstation.OrderBy(m => m.Name))
                        {
                            <tr>
                                <td>@Html.CheckBox("s")</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.WorkProcess)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Lista modeli i wariantów <br />
                    @Html.TextBox("as")
                    @Html.TextBox("ass")
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nazwa</th>
                            <th>Opis</th>
                        </tr>
                        @foreach (var item in Model.AvalibleModels.OrderBy(m => m.Name))
                        {
                            <tr>
                                <td>@Html.CheckBox("s")</td>
                                <td>@Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            </tr>

                            foreach (var item2 in item.ResourceModelChild)
                            {
                                <tr>
                                    <td>@Html.CheckBox("s")</td>
                                    <td>@Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item2)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item2.Description)</td>
                                </tr>
                            }

                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

}