@model JoinDoc
@using ITechSite.Custom;
@using ITechSite.Models;
@{
    ViewBag.Title = "Join";
}

<div class="row">
    <div class="alert alert-warning">
        <h2>
            @Html.SpanGlyphicon("", "glyphicon-paperclip") Przypinasz dokument  @Html.ActionLinkGlyphicon(Model.Doc.FileName, "Show", null, new { id = Model.Doc.Id }, new { target = "_blank" }, "glyphicon-picture")
        </h2>
        
        @Html.LabelFor(m => m.Doc.CodeName) :
        @Html.DisplayFor(m=>m.Doc.CodeName, new { @class = "form-label" }) 
        @Html.LabelFor(m => m.Doc.Kategorie) :
        @Html.DisplayFor(m=>m.Doc.Kategorie.name, new { @class = "form-label" })
        @Html.LabelFor(m => m.Doc.Description) :
        @Html.DisplayFor(m=>m.Doc.Description, new { @class = "form-label" })
    </div>
</div>


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="alert alert-success text-center">
                Zaznacz stanowiska i modele lub warianty aby przypiąć dokument.
                Nie wybieraj modelu jeśli chcesz przypiąć dokument na stanowisko.<br />
                @using ITechSite.Custom
                <button type="submit" value="AddDoc" name="FindAction" class="btn btn-success ">
                    @Html.SpanGlyphicon("", "glyphicon-paperclip")@Html.SpanGlyphicon("", "glyphicon-file") Przypnij dokument
                </button>
                <button type="submit" value="Cancel" name="FindAction" class="btn btn-cancel">
                    @Html.SpanGlyphicon("", "glyphicon-remove") Anuluj
                </button>
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <p class="lead">Stanowiska</p>
                        @Html.Partial("_SelectResourcesInLine", (ITechSite.Models.ResourceListFind)ViewBag.FindResources)
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @*@Html.CheckBox("R")*@
                                </th>
                                <th>Stanowisko</th>
                                <th>Proces</th>
                                <th>Opis</th>
                            </tr>
                            @foreach (var item in Model.WorkstationList)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="WorkstationsCheck" id="WC_@item.Id" value="@item.Id"  @Model.WorkstationIsCheck(item.Id) />   
                                    </td>
                                    <td>
                                        @Html.Label("WC" + item.Id, item.Name)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.WorkProcess)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <p class="lead">Modele i warianty</p>
                        <div class="form-inline">
                            <div class="form-group ">
                                <button type="submit" name="FindAction" value="Szukaj" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> <br />Filtruj modele
                                </button>
                            </div>

                            <div class="form-group">
                                @Html.Label("ModelId", "Wybierz model", htmlAttributes: new { @class = "control-label" })<br />
                                @*@Html.TextBox("ModelFilter", null, new { @class = "form-control" })*@
                                @Html.DropDownListFor(m=>m.ModelId, Model.AvalibleModels, "Instrukcja stanowiskowa", new { @class = "form-control" })
                                @*@Html.DropDownList("Modele", null, "Instrukcja stanowiskowa", new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                            @if (Model.ModelsList != null)
                            {
                                <table class="table table-hover">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Nazwa</th>
                                        <th>Opis</th>
                                    </tr>
                                        @foreach (var item in Model.ModelsList)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="ModelsCheck" id="MC_@item.Id" value="@item.Id" @Model.ModelIsCheck(item.Id) />
                                                </td>
                                                <td>@Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item)</td>
                                                <td>@Html.Label("MC" + item.Id, item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            </tr>

                                            foreach (var item2 in item.ResourceModelChild)
                                            {
                                                <tr>
                                                    <td>
                                                    <input type="checkbox" name="ModelsCheck" id="MC_@item2.Id" value="@item2.Id" @Model.ModelIsCheck(item2.Id) /></td>
                                                    <td>@Html.Partial("~/Views/Resources/_ResourceType2Image.cshtml", item2)</td>
                                                    <td>@Html.Label("MC" + item2.Id, item2.Name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item2.Description)</td>
                                                </tr>
                                            }
                                        }
                                </table>
                            }
                            else
                            {
                                <p class="text-center text-info">Nie wybrano modelu ani wariantu. Dokument zostanie przypisany jako instrukcja do stanowiska</p>
                            }
                    </div>
                </div>
            </div>
        </div>

    }

