@model ITechSite.Models.InformationPlan

@{
    ViewBag.Title = "Szczegóły planu";
}

<h2>Szczegóły planu</h2>

<div>
    <h4>Plan Informacyjny</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
           @Model.Resource.ResourceType.Type.ToString()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resource.Name)
        </dd>
        <dt>
            Plik dokumentu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dokument.CodeName)
            @Html.DisplayFor(model => model.Dokument.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.id}) |
    @Html.ActionLink("Powrót", "Edit", "Resources", new { id = ViewBag.Ret_idR }, null)
</p>
