@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string thisAction = ViewContext.RouteData.Values["action"].ToString();
}

<nav class="navbar nav-tabs">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Użytkownicy :</a>
        </div>
        <div>
            <ul class="nav nav-pills">
                <li class="@(thisAction == "Index" ? "active" : "")">@Html.ActionLink("Operatorzy", "Index", "ItechUsers", new { area = "" }, null)</li>
                <li class="@(thisAction == "Import" ? "active" : "")">@Html.ActionLink("Import Operatorów", "Import", "ItechUsers", new { area = "" }, null)</li>
                <li class="@(thisAction == "Accounts" ? "active" : "")">@Html.ActionLink("Konta panelu administracyjnego", "Accounts", "ItechUsers", new { area = "" }, null)</li>
            </ul>
        </div>
    </div>
</nav>

@*<div class="navbar-collapse collapse">
    
    <ul class="nav navbar-nav">
        <li class="active">@Html.ActionLink("Użytkownicy :", "")</li>
        <li>@Html.ActionLink("Operatorzy", "Index", "ItechUsers", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Import Operatorów", "Import", "ItechUsers", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Konta panelu", "Accounts", "ItechUsers", new { area = "" }, null)</li>
    </ul>
</div>*@
    <div>
        @RenderBody()
    </div>

