@model ITechSite.Models.Repository.AccountIndexModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Konta";
    Layout = "_UsersLayout.cshtml";
}


<div class="content alert form-Gray">
    @using (Html.BeginForm("Accounts", "ItechUsers", FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "Użytkownik", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" name="FindUsers" class="btn btn-default btn-block">
                        <span class="glyphicon glyphicon-search"></span> Szukaj
                    </button>
                </div>
            </div>

            <div>
                @*Zanleziono @Model.Users.TotalItemCount pozycji. Wyswietlonio stronę @(Model.Users.PageCount < Model.Users.PageNumber ? 0 : Model.Users.PageNumber) z @Model.Users.PageCount
                    @Html.PagedListPager(Model.Users, page => Url.Action("index", new { page, UserName = @Model.UserName, IdentityNo = @Model.IdentityNo }))*@
            </div>

        </div>
    }

</div>
<div>
@if (Model.Users != null)
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Użytkownik")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditAccount", new { UserName = item.UserName }) 
                </td>
            </tr>
        }
    </table>
}
</div>