@model ITechSite.Models.ItechUsers

@{
    ViewBag.Title = "Edytuj pracownika";
    Layout = "_UsersLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
            
        <h4>Pracownik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "Identyfikator", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, "Nazwisko i imię", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardNo, "Numer karty", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, "hasło", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.PasswordFormat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordFormat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordFormat, "", new { @class = "text-danger" })
            </div>
        </div>*@

        
        <div class="form-group">
            @Html.LabelFor(model => model.Frozen, "Zamrożony", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Frozen)
                    @Html.ValidationMessageFor(model => model.Frozen, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Enabled, "Aktywne", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Desc, "Opis", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccessProfile, "Profil dostępu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AccessProfile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccessProfile, "", new { @class = "text-danger" })
        </div>
    </div>


        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-save"></span> Zapisz
                </button>
                @*<input type="submit" value="Zapisz" class="btn btn-primary btn-block"/>*@
            </div>
        </div>
        <hr />
        
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastTestKompetencjiDtm, "Test kompetencji", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label("", Model.LastTestKompetencjiDtm.ToString(), htmlAttributes: new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.LastTestKompetencjiDtm, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastTestKompetencjiResult, "Wynik testu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label("", Model.LastTestKompetencjiResult.ToString(), htmlAttributes: new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.LastTestKompetencjiResult, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
    </div>
}

<div class="form-group">
    @Html.Label("", "Grupy robocze", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @{string g = string.Empty; }
        @foreach (var item in Model.AspNetRoles)
        {
            g = g + item.Name + "; ";
        }

        @Html.Label("", g, htmlAttributes: new { @class = "form-label" })

   </div>
</div> 

<div class="form-group">
    @Html.Label("", " ", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.Partial("_EditRolesPartial")
    </div>
</div>
<div>
    @Html.ActionLink("Powrót", "Index")
</div>
