@model ITechSite.Models.ChangeUserPasswordViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 style="color:green;"><span class="glyphicon glyphicon-log-in"></span> Zmiana hasła dla <b>@Model.UserName</b></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="YourPass"><span class="glyphicon glyphicon-user"></span> Twoje hasło <i>( @Context.User.Identity.Name )</i></label>
            @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Twoje hasło" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger"})
        </div>
        <hr />
        <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Nowe hasło <i>( @Model.UserName )</i></label>
            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Nowe hasło"} })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Powtórz nowe hasło</label>
            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Powtórz nowe hasło" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Zmień hasło</button>
        </div>
        <div class="form-group">
            <a href="@Url.Action("EditAccount", "ItechUsers", new { UserName=Model.UserName })" class="btn btn-default pull-left"><span class="glyphicon glyphicon-remove"></span> Anuluj</a>
        </div>
   </div>
</div>
}
