@model ITechSite.Models.Repository.ItechUserIndexModel
@using PagedList.Mvc;
@using System.Web.Mvc.Ajax;
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "_UsersLayout.cshtml";
}

<h3>Lista użytkowników </h3>

@using (Html.BeginForm("Index", "ItechUsers", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.UserName,"Nazwisko i imię",  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentityNo, "Id lub nr karty", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IdentityNo, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" name="FindUsers" value="Find" class="btn btn-default" />
            </div>
        </div>

        <div>
            @*@if (@Model.Users!=null)
            {*@
                Zanleziono @Model.Users.TotalItemCount pozycji. Wyswietlonio stronę @(Model.Users.PageCount < Model.Users.PageNumber ? 0 : Model.Users.PageNumber) z @Model.Users.PageCount
                @Html.PagedListPager(Model.Users, page => Url.Action("index", new { page, UserName = @Model.UserName, IdentityNo = @Model.IdentityNo }))
        </div>

    </div>
}

<div>
@*@Html.ActionLink("Dodaj nowego pracownika", "Create")*@


    @{
        var link = Html.ActionLink("{0}", "Create").ToString();
        var url = string.Format(link, "<span class='glyphicon glyphicon-plus'></span><span class='glyphicon glyphicon-user'></span> Dodaj nowego pracownika");
    }
    @Html.Raw(url)

@if (Model.Users != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Użytkownik")
            </th>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Nr karty")
            </th>
            <th>
                @Html.DisplayName("Poziom")
            </th>
            <th>
                @Html.DisplayName("Opis")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessProfile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) 
                    @* | @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
</table>
}
</div>