@model ITechSite.Models.ItechUsers
@{
    Layout = null;
}

@using (Html.BeginForm("EditRole", "ItechUsers"))
{
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Grupy robocze dla: @Model.UserName</h4>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)


                    <ul>
                        @foreach (ITechSite.Models.Repository.SelectedItem g in @ViewBag.AllRoles)
                        {
                            <li>
                                <input type="checkbox"
                                       name="SelectedRoles"
                                       value="@g.Id" id="@g.Id"
                                       @{if (Model.AspNetRoles.Any(m => m.Id == g.Id)) { <text> checked='checked' </text>     } } />
                                <label for="@g.Id">@g.Name</label>
                            </li>
                        }
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" value="Zapisz">Zapisz</button>
                </div>
            </div>
}