@using ITechSite.Areas.Testy.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ITechSite.Areas.Testy.Models.Kategorie>

@{
    Layout = "~/Areas/Testy/Views/Shared/_TestyLayout.cshtml";
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>
<div class="warning">
    @TempData["WarningMessage"]
</div>

<div class="toolbar">
    @*@Html.ActionLink("Dodaj kategorię", "CreateCategory", "TestEditor")
    @Html.ActionLink("Zarządzaj pytaniami", "Index", "TestEditor")
    @Html.ActionLink("Zarządzaj stanowiskami", "Resources")*@
    @Html.Partial("_NaviBar")
</div>

<table class="categories">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Ilość pytań</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td>@c.id</td>
                <td>@c.name</td>
                <td>@c.Pytania.Count()</td>
                <td>
                    <a href="@Url.Action("EditCategory", "TestEditor", new{ id = @c.id })" class="btn btn-action"><span class="fa fa-pencil"></span>Edytuj</a>
                    <a href="@Url.Action("deleteCategory", "TestEditor", new{ id = @c.id })" class="btn btn-action"><span class="fa fa-remove"></span>Usun</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Categories", new { page }))
