@model ITechSite.Areas.Testy.Models.PytaniaViewModel
@using ITechSite.Areas.Testy.Models;
@using ITechSite;


@{
    Layout = "~/Areas/Testy/Views/Shared/_TestyLayout.cshtml";
    ViewBag.Title = "Nowe pytanie";
}

<h2>Nowe pytanie</h2>

@using (Html.BeginForm())
{
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.content, new { rows = "6" })
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.answer_type)
            @Html.ValidationMessageFor(model => model.answer_type)
            @Html.ValidationMessageFor(model => model.answer_type)
        </div>
        <div class="editor-field">
            <label>@Html.RadioButtonFor(model => model.answer_type, 1)Jedna poprawna</label>
            <label>@Html.RadioButtonFor(model => model.answer_type, 2)Kilka poprawnych</label>
        </div>*@

        <fieldset class="answers">
            <legend>Odpowiedzi</legend>
            <!-- <button type="button" class="link" id="addAnswer"><i class="fa fa-plus-circle"></i></button> -->
            @for(int i=0;i<4;i++)
            {
                <div class="answer">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.answerContent)
                        @Html.Label(String.Concat(" ", (i + 1).ToString()))
                        @Html.ValidationMessageFor(model => model.answerContent)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.answerContent[i])
                        @*<label>@Html.RadioButtonFor(model => model.id, "1") Odpowiedź poprawna</label>*@
                        @Html.CheckBoxFor(model => model.isCorrect[i])
                        <label for="CheckBox" style="display: inline-block;">Poprawna</label>
                    </div>
                </div>
            }
        </fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.categoryId)
            @Html.ValidationMessageFor(model => model.categoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.categoryId, Model.Kategorie, "Wybierz kategorię")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.keywords)
            @Html.ValidationMessageFor(model => model.keywords)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.keywords)
        </div>
        <input type="submit" value="Dodaj pytanie" />
        @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-cancel" })
    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#addAnswer").click(function () {
            var ans = $('.answer :first').clone();
            ans.val('');
            $('.answers').append(ans);
            $('.answer :last').append('<i class="fa fa-times remove-answer"></i>');
        });

        $('body').on('click', '.remove-answer', function () {
            var $this = $(this);
            $this.parent().remove();
        });
    });
</script>