@using ITechSite.Areas.Testy.Models;
@model ITechSite.Areas.Testy.Models.ResourceViewModel

@{
    Layout = "~/Areas/Testy/Views/Shared/_TestyLayout.cshtml";
    ViewBag.Title = "Edycja resource";
}

<h2>Edycja zasobu</h2>

@using(Html.BeginForm())
{
    <fieldset>
        <div class="editor-label">
            <h4>Stanowisko</h4>
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
        </div>
        <div>
            <h4>Losuj pytania z kategorii:</h4>
            @foreach (var cat in ViewBag.kategorie)
            {
                <label for="allowedCat">@cat.name</label>

                if (Model.categories.Contains(cat))
                {
                    <input type="checkbox" value="@cat.id" name="allowedCat" checked />
                }
                else
                {
                    <input type="checkbox" value="@cat.id" name="allowedCat" />
                }
                <br />
            }
        </div>
        <input type="submit" value="Zapisz zmiany" />
        @Html.ActionLink("Anuluj", "Resources", "TestEditor", null, new { @class = "btn btn-cancel" })
    </fieldset>
}
