@model ITechSite.Models.Resource

@{
    ViewBag.Title = "Kasowanie.";
    if(Model!=null)
    {
        if (Model.ResourceType != null)
        {
            ViewBag.Title = "Kasowanie " + Model.ResourceType.Type;
        }
    }      
}

<h2>@ViewBag.Title</h2>

<h3>Czy jesteś pewien, że chsesz usunąć?</h3>
@if (string.IsNullOrEmpty(@ViewBag.DontDelete) == true)
{
    <h3>@ViewBag.DontDelete</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastWriteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWriteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkProcess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkProcess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceType.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (string.IsNullOrEmpty(@ViewBag.DontDelete) == true)
        {
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Kasuj
            </button>
        }
        else
        {
            <h2>@ViewBag.DontDelete</h2>
        }

        @Html.ActionLink("Anuluj", "Edit", null,  new { id= Model.Id }, new {@class= "btn btn-success"})
    </div>
        
    }
</div>
