@model ITechSite.Models.Resource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastWriteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWriteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkProcess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkProcess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceType.Type)
        </dd>
            @*<dt>
                @Html.Label("Plan informacyjny")
            </dt>
            <dd>
                @Html.ActionLink("Pokaż", "Details", "InformationPlans", new { idR = Model.Id }, new { htmlAttributes = new { @class = "btn btn-default" } })
            </dd>*@
            @if (Model.ResourceType.id == 1)
            {
<dt>
            @Html.Label("Ustawienia Stanowiska")
        </dt>
        <dd>
            @Html.ActionLink("Pokaż", "Details", "Workstations", new { idR = Model.Id }, new { htmlAttributes = new { @class = "btn btn-default" } })
        </dd>
    <dt>
        Pliki
    </dt>
    <dd>
        <table>
            @if (Model.InformationPlan.FirstOrDefault() != null)
            {
                foreach (var item in Model.InformationPlan)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Dokument.FileName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dokument.CodeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dokument.Enabled)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dokument.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dokument.Size2)</td>
                        <td>@Html.ActionLink("Szczegóły", "Details", "Dokuments", new { id = item.IdD }, null)</td>
                        <td>@Html.ActionLink("Pokaż", "Show", "Dokuments", new { id = item.IdD }, null)</td>
                    </tr>
                }
            }
        </table>
    </dd>

            }
</dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
