@model IEnumerable<ITechSite.Models.Resource>

@{
    ViewBag.Title = "Models";
}

<h2>Modele na stanowisku @ViewBag.Workstation.Name</h2>
<div class="alert alert-warning">
    Lista modeli które produkowane są na stanowisku @ViewBag.Workstation.Name<br />
    Zaznacz modele które są produkowane na tym stanowisku aby móc dodawać do nich dokumenty.
</div>
<table class="table table-hover">
    <tr>
        <th>Akcja</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

    </tr>

@foreach (var item in Model)
{
    var rem=item.ModelsWorkstationModel.Any(m => m.idW == @ViewBag.Workstation.Id);
      var remcss = "alert-danger";
      if (rem==true)
      {
          remcss = "alert-success";
          }
     
    <tr class="alert @remcss">
        <td>
            @using ITechSite.Custom;
            @if (!rem)
            {
                @Html.SpanGlyphicon("", "glyphicon-remove-circle");
                @Html.ActionLink(" Dodaj", "WorkstationModelsUpdate", new { idM = item.Id, idW = @ViewBag.Workstation.Id });
            }
            else
            {
                @Html.SpanGlyphicon("", "glyphicon-ok-circle");
                @Html.ActionLink(" Usuń", "WorkstationModelsUpdate", new { idM = item.Id, idW = @ViewBag.Workstation.Id, remove = true });
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>


<div>
    @Html.ActionLink("Powrót do listy", "Edit", "Resources", new { id = @ViewBag.Workstation.Id }, null)
</div>