@model ITechSite.Models.Workstation

@{
    ViewBag.Title = "Usuń Stanowisko";
}

<h2>Usuń Stanowisko</h2>

<h3>Czy jesteś pewien, że chcesz usunąć to stanowisko?</h3>
<div>
    <h4>Stanowisko</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sterownik_Ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sterownik_Ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sterownik_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sterownik_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setrownik_DB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setrownik_DB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkstationGroup1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkstationGroup1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resource.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Edit", "Resources", new { id = ViewBag.Ret_idR }, null)
        </div>
    }
</div>
