@model ITechSite.Models.Workstation

@{
    ViewBag.Title = "Stanowisko";
}

<h2>Stanowisko</h2>

<div>
    <h4>Workstation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Stanowisko")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resource.Name)
        </dd>

        <dt>
            Fabryka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory)
        </dd>

        <dt>
            Dział
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            IP Sterownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sterownik_Ip)
        </dd>

        <dt>
            Sterownik Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sterownik_Model)
        </dd>

        <dt>
            Sterownik DB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setrownik_DB)
        </dd>


    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Powrót", "Details", "Resources", new {id = Model.idR }, null)
</p>
