<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ITech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/dropzonescss")
    <script src="~/Scripts/ui/i18n/jquery.ui.datepicker-pl.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ITech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Baza dokumentów", "Index", "Dokuments", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Zarządzanie produkcją", "Index", "Resources", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Wiadomości", "Index", "News", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Testy", "Index", "TestEditor", new { area = "Testy" }, null)</li>
                        <li>@Html.ActionLink("Przypisanie instrukcji", "Edit2", "InformationPlans", new { area = "" }, null)</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Ustawienia
                                <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu inverse">
                                <li><a href="@Url.Action("Index", "ItechUsers", new { area = "" })">Operatorzy</a></li>
                                <li>@Html.ActionLink("Testów", "Index", "TestSettings", new { area = "" }, null)</li>
                                <li><a href="@Url.Action("Categories", "TestEditor", new { area = "Testy" })">Kategorie</a></li>
                                @*<li><a href="#">Projekty</a></li>*@
                                <li>@Html.ActionLink("Procesy robocze", "Index", "WorkProcesses", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Panel administracyjny instrukcji multimedialnych.
                @Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, null)
            </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
