@model dynamic

@{
    Layout = "~/Areas/Testy/Views/Shared/_TestyNoLayout.cshtml";
    ViewBag.Title = "Koniec testu";
    ViewBag.TestResColor = "red";
}
<div class="content test-end">
    @if (@ViewBag.state == "Zdany")
    {
        ViewBag.TestResColor = "green";
    }
    
        <div style="background-color: @ViewBag.TestResColor ">
            <h2>Test zakończony wynikiem: <BR />@ViewBag.state</h2>
            <p class="test-score">
                @if (@ViewBag.state == "Zdany")
                {
                    <p>Odpowiedziałeś poprawnie na wszystkie pytania testu (@ViewBag.score /@ViewBag.quantity) </p>
                }
                else
                {
                    <p>Odpowiedziałeś poprawnie tylko na @ViewBag.score pytania (@ViewBag.score /@ViewBag.quantity) </p>
                    <p>Aby zdać test należy odpowiedzieć poprawnie na WSZYSTKIE pytania. </p>
                }
                
            </p>
        </div>

    <p>
        @Html.ActionLink("Przeglądaj test", "ViewTest", "Test", new { @accessionNumber = @ViewBag.accessionNumber }, new { @class = "btn btn-action-big" })
        <br />
        <br />
        @*@Html.ActionLink("Zakończ", "EndTest", "Test", new { @accessionNumber = @ViewBag.accessionNumber, @EndViewAcction = true }, new { @class = "btn btn-action-big" })*@
        @Html.ActionLink("Zakończ", "getTestResult", "Test", new { @accessionNumber = @ViewBag.accessionNumber, @EndViewAcction = true }, new { @class = "btn btn-action-big" })
    </p>
</div>