@model dynamic

@{
    Layout = "~/Areas/Testy/Views/Shared/_TestyNoLayout.cshtml";
    ViewBag.Title = "Wybierz właściwą odpowiedź";
}

<div class="content test-start">
    @if(@Model.question == null)
    {
        @Html.ActionLink("Rozpocznij", "Test", new { @questionId = Model.test.getFirstQuestionId(), @accessionNumber = Model.test.accessionNumber }, new { @class = "btn btn-start-test" })
    }
    else
    {
    <table class="test">
        @ViewBag.Title

         <thead class="question">
            <tr>
                <th>@Model.question.content</th>
            </tr>
        </thead>
    
        <tbody class="answers">
            <tr class="answer">
                @if (Model.test.getPreviousQuestionId(Model.question.id) != 0)
                {
                    <td class="submit-left">
                        <a href="@Url.Action("Test", "Test", new { @questionId = Model.test.getPreviousQuestionId(Model.question.id), @accessionNumber = Model.test.accessionNumber })" id="prev"><img src="~/Content/images/left.png"/></a>
                    </td>
                }
                @foreach (var ans in @Model.question.Odpowiedzi)
                {
                    <td style="display: block;">
                    <input type="radio" name="answer[]" value="@ans.id" class="test-radio" />
                    <p>
                        @ans.content
                    </p>
                        </td>
                
            }

            
            @if (Model.test.getNextQuestionId(Model.question.id) != 0)
            {
                <td class="submit-right">
                <a href="@Url.Action("Test", "Test", new { @questionId = Model.test.getNextQuestionId(Model.question.id), @accessionNumber = Model.test.accessionNumber })" id="next"><img src="~/Content/images/right.png" /></a>
                    </td>
            }
            else
            {
                <td class="submit-right">
                <a href="@Url.Action("EndTest", "Test", new{ @accessionNumber = Model.test.accessionNumber })" id="end_test"><img src="~/Content/images/end.png" /></a>
                    </td>

            }
            </tr>
        </tbody>
 
        
        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        @if(@Model.question != null)
        {
            <text>
                $.ajax({
                    type: "POST",
                    url: '/Test/LogTest?questionId=@Model.question.id&testId=@Model.test.id'
                });
                $(window).unload(function () {
                    var data = { "answers[]": [] };
                    $(":checked").each(function () {
                        data["answers[]"].push($(this).val());
                    });
                    $.ajax({
                        type: 'post',
                        async: false,
                        url: '/Test/LogTest?questionId=@Model.question.id&testId=@Model.test.id',
                        data: data
                    });
                });
            </text>
        }

        @if(@ViewBag.userAnswer != null)
        {
            <text>
                $('input[value="@ViewBag.userAnswer"]').attr('checked', 'checked');
                $('input[value="@ViewBag.userAnswer"]').parent().css('background-color', '#C8E6C9');
            </text>
        }

        $('.test-radio').change(function () {
            if ($(this).attr('checked')) {
                $('.answer').css('background-color', 'rgba(0, 0, 0, 0.1)');
                $(this).parent().css('background-color', '#C8E6C9');
            }
        });

        $('.answer td').not('[name^="submit-"]').click(function () {
            $(this).find('.test-radio').prop('checked', true);
            //console.log('click');
        });
    });
</script>